.btn,
.btn:active,
.btn:focus {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $gutter;
    padding-right: $gutter;
    border: 2px solid;
    border-radius: 3px;
    transition: all .15s ease;
    line-height: $gutter*1.5 - 4px;
    font-weight: $fontBold;
    font-size: 18px;
    letter-spacing: 1px;
    @include shadow;
    @include tablet {
        padding-left: $gutter*1.5;
        padding-right: $gutter*1.5;
    }


    &:hover {
        transform: translateY(-2px);
        @include shadowHover;
    }

    &.btn-primary {
        background: $colorPrimary;
        border-color: $colorPrimary;
        color: $colorLight;
    }

    &.btn-secondary {
        background: $colorSecondary;
        border-color: $colorSecondary;
        color: $colorLight;
    }

    &.btn-outline-primary {
        background: none;
        border-color: $colorPrimary;
        color: $colorPrimary;
        &:hover {
            background: $colorPrimary;
            color: $colorLight;
        }
    }

    &.btn-outline-secondary {
        background: none;
        border-color: $colorSecondary;
        color: $colorSecondary;
        &:hover {
            background: $colorSecondary;
            color: $colorLight;
        }
    }

    &.btn-highlight {
        color: $colorLight;
        background: $colorHighlight;
        border-color: $colorHighlight;
        &:hover {
            color: $colorLight;
        }
    }

    &.btn-light {
        color: $colorGrayDarkest;
        background: $colorLight;
        border-color: $colorLight;
        &:hover {
            color: $colorDark;
        }
    }

    &.btn-hero {
        font-size: 16px;
        padding: 0;
        display: block;
        margin-right: auto;
        height: 50px;
        line-height: 50px - 4px;
        font-weight: $fontBold;
        margin-bottom: $gutter/2;

        &:last-child {
            @include tablet {
                margin-left: $gutter/3;
            }
            @include desktop {
                margin-left: auto;
            }
        }
        @include tablet {
            vertical-align: middle;
            display: inline-block;
            font-size: 22px;
            padding: 0 $gutter/3;
        }
        @include desktop {
            display: block;
            width: 380px;
            margin-left: auto;
            margin-right: auto;
        }
        @include largeDesktop {
            width: 480px;
        }
    }

    &.btn-lg {
        line-height: $gutter*2 - 2px;
        font-size: 20px;
    }

    &.btn-link {
        border-color: rgba(0,0,0,0);
        color: inherit;
        box-shadow: none;
        &:hover {
            transform: none;
        }
    }
}

