.frm_forms {
    text-align: left;

    .frm_form_field {
        margin-bottom: $gutter;

        input:not([type=file]) {
            background: $colorGrayLightest;
            display: block;
            width: 100%;
            border: none;
            padding: 0 $gutter/2;
            line-height: $gutter*1.5;
            border-radius: 0;
            height: $gutter*1.5;
        }

        textarea {
            background: $colorGrayLightest;
            display: block;
            width: 100%;
            border: none;
            padding: 0 $gutter/2;
            line-height: $gutter*1.5;
        }
    }

    .frm_primary_label,
    .impersonate-label {
        display: block;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $colorGrayDarker;
    }

    p {
        font-size: 18px;
        color: $colorGrayDark;
        line-height: 1.2em;
    }

    .frm_submit {
        clear: both;
        text-align: center;
    }

    .g-recaptcha > * {
        margin: auto;
        @include smallMobile {
            margin-left: -16px;
        }
    }

    .frm_message {
        padding: $gutter;
        border: 1px solid #c3e6cb;
        border-left: 5px solid #28a745;
        color: #155724;
        margin-bottom: $gutter;
        @include shadow;

        p {
            margin: 0;
        }
    }
}
