.logo {
    display: block;

    &.logo-hero {
        width: 380px;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        margin-right: $gutter*2;
    }

    &.logo-nav {
        display: flex;
        justify-content: flex-start;
        padding: 0 $gutter/4;
        height: $headerHeight - $gutter/2;
        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}