.logo {
    display: block;

    &.logo-hero {
        width: 200px;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        margin: $gutter auto;

        @include desktop {
            margin-right: $gutter*2;
            width: 300px;
        }
        @include largeDesktop {
            width: 380px;
        }
    }

    &.logo-nav {
        display: flex;
        justify-content: flex-start;
        padding: 0 $gutter/4;
        height: $headerHeight - $gutter/2;
        img {
            max-height: 100%;
            max-width: 100%;
        }

        @include tablet {
            display: none;
        }
        @include desktop {
            display: flex;
        }
    }
}