.section {
    padding-top: $gutter*3;
    padding-bottom: $gutter*3;
    position: relative;

    &.section-services {
        padding-top: $gutter*3 + 62px;
        background: linear-gradient(to bottom, #{$colorLightAlt}, #{$colorLight});

        .container {
            max-width: $breakDesktop - $gutter;
        }
    }

    &.section-testimonials {
        background: $colorLightAlt url('#{$imagePath}/testimonials-background.jpg') no-repeat top left;
    }

    &.section-coupon {
        padding-top: $gutter;
        border: $gutter/3 solid rgba($colorLight, .25);
        padding-bottom: $gutter;
    }

    &.section-blog {
        background: linear-gradient(to top, #{$colorLightAlt}, #{$colorLight});
    }

    &.section-about {
        background: $colorLightAlt;
        padding-top: 0;
        padding-bottom: $gutter;

        .row {
            padding-top: $gutter*3;
        }
    }

    &.section-quote {
        border: $gutter/3 solid $colorPrimary;

        .container-skinny {
            max-width: $breakTablet - $gutter;
        }
    }

    .top-anchor {
        position: absolute;
        top: -$headerHeight;
        left: 0;
        right: 0;
    }

    .bottom-anchor {
        position: absolute;
        bottom: $headerHeight;
        left: 0;
        right: 0;
    }
}

.section-tag {
    padding: 0 $gutter/2;
    line-height: $gutter;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: $colorGrayDarkest;
    color: $colorLight;
    display: inline-block;
    font-size: 18px;
    font-weight: $fontBold;
    margin-bottom: $gutter/2;
}

.section-title {
    font-weight: $fontBold;
    font-size: 32px;
    letter-spacing: 1px;

    .section-testimonials & {
        font-size: 25px;
        line-height: 1.5em;
        max-width: 780px;
    }

    .section-coupon & {
        color: rgba($colorLight, .7);

        a {
            color: inherit;
            text-decoration: underline;
            &:hover {
                color: $colorLight;
            }
        }

        .emphasis {
            font-size: 36px;
            color: $colorLight;
        }
    }

    .section-preventative & {
        font-size: 24px;
    }
}

.section-heading {
    font-weight: $fontBold;
    font-size: 24px;
    letter-spacing: .5px;
}

.section-text {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: $colorGrayDarker;
    font-size: 18px;
}

.section-subtitle {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: $fontSemibold;
    line-height: 1.7em;
    color: $colorGrayDarkest;
}

.section-block {
    &:not(:last-child) {
        margin-bottom: $gutter*2;
    }
}

.section-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    img {
        margin: auto;
        display: block;
        width: 100%;
        max-width: 1200px;
    }

    .section-about & {
        top: $gutter;
        left: $gutter;
        right: $gutter;
    }
}