.topbar {
    color: rgba($colorLight, .8);
    background: $colorPrimary;
    height: $gutter;
    line-height: $gutter;
    font-weight: $fontBold;

    p {
        margin: 0;
    }

    a {
        color: inherit;
        &:hover {
            color: $colorLight;
        }
    }

    .open {
        color: green;
    }
    .closed {
        color: red;
    }
}

.topbar-social {
    font-size: 20px;

    a:not(:last-child) {
        margin-right: $gutter/3;
    }
}