.topbar {
    color: rgba($colorLight, .8);
    background: $colorPrimary;
    line-height: $gutter;
    font-weight: $fontBold;

    &:not(.topbar-mobile) {
        height: $gutter;
        display: none;
        @include tablet {
            display: block;
        }
    }

    &.topbar-mobile {
        font-size: 18px;
        padding-bottom: $gutter;
        p {
            padding: 5px 0;
            &:not(:last-child) {
                border-bottom: 1px solid rgba($colorLight, .2);
            }
        }
    }


    p {
        margin: 0;
    }

    a {
        color: inherit;
        &:hover {
            color: $colorLight;
        }
    }

    .open {
        color: green;
    }
    .closed {
        color: red;
    }
}

.topbar-social {
    font-size: 20px;

    a:not(:last-child) {
        margin-right: $gutter/3;
    }
}

.topbar-hours {
    @include smallMobile {
        display: none;
    }
}