
/* Color Helpers */

.color-primary {
    color: $colorPrimary !important;
}

.color-secondary {
    color: $colorSecondary !important;
}

.color-highlight {
    color: $colorHighlight !important;
}

.color-light {
    color: $colorLight !important;
}

.background-primary {
    background: $colorPrimary !important;
}

.background-secondary {
    background: $colorSecondary !important;
}

.background-highlight {
    background: $colorHighlight !important;
}

.background-light {
    background: $colorLight !important;
}

