
// Media queries
@mixin smallMobile {
    @media (max-width: #{$breakSmallMobile}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$breakTablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakDesktop}) {
        @content;
    }
}

@mixin largeDesktop {
    @media (min-width: #{$breakLargeDesktop}) {
        @content;
    }
}

@mixin shadow {
    box-shadow: 5px 5px 25px -8px rgba(0,0,0,.5);
}

@mixin shadowHover {
    box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.3);
}

@mixin placeholderColor($color) {
    &::-webkit-input-placeholder {
       color: #{$color};
    }
    &:-moz-placeholder {
       color: #{$color};
    }
    &::-moz-placeholder {
       color: #{$color};
    }
    &:-ms-input-placeholder {
       color: #{$color};
    }
}