/* Sizing */

$gutter: 30px;
$headerHeight: 100px;
$heroHeight: 600px;


/* Colors */

$colorPrimary: #4285E3;
$colorSecondary: #97D7F3;
$colorHighlight: #ED624A;

$colorLight: #fff;
$colorLightAlt: #F7F8FA;
$colorDark: #2B2B2B;

$colorGrayDarkest: #333;
$colorGrayDarker: #555;
$colorGrayDarker: #777;
$colorGray: #999;
$colorGrayLight: #bbb;
$colorGrayLighter: #ddd;
$colorGrayLightest: #eee;

$colorFacebook: #3B5998;
$colorTwitter: #1DA1F2;
$colorLinkedin: #007BB6;


/* Break Points */

$breakSmallMobile: 350px;
$breakTablet: 768px;
$breakDesktop: 992px;
$breakLargeDesktop: 1200px;


/* Fonts */

$fontPrimary: 'Source Sans Pro', sans-serif;
$fontRegular: 400;
$fontSemibold: 600;
$fontBold: 700;
